.title-background {
	-fx-background-color: #1a1a1a;
	
}

.title-label {
	-fx-font-size: 14pt;
	-fx-font-family: "Segoe UI";
	-fx-text-fill: white;
	-fx-opacity: 0.9;
}

.split-pane {
	-fx-background-color: #333333;
	-fx-border-width: 1px 0 0 0;
	-fx-border-color: white green red blue;
	-fx-border-style: solid;
}

.split-pane > .split-pane-divider {
	-fx-padding: 0 0 0 0;
}

.label {
	-fx-text-fill: white;	
}

.text-field {
	-fx-text-fill: #1a1a1a;
	-fx-background-radius: 0;
	-fx-background-color: white;
	-fx-opacity: 0.9;
}

.text-area {
	-fx-text-fill: #1a1a1a;
	-fx-background-radius: 0;
	-fx-background-color: white;
	-fx-opacity: 0.9;
}

.radio-button {
	-fx-text-fill: white;
}

.radio-button .dot {
	-fx-background-color: white;
}

.radio-button .dot onclick {
		-fx-background-color: #336600;
}

.split-menu-button{
	-fx-background-color: #1a1a1a;
}

.split-menu-button .label {
	-fx-background-color: #1a1a1a;
	-fx-text-fill: white;
}

.split-menu-button .arrow-button {
	-fx-background-color: #1a1a1a;	
}

.split-menu-button .arrow {
	-fx-background-color: white;
}

.split-menu-button .menu-button {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
}

.split-menu-button .menu-button .label {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
}

.split-menu-button .menu{
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
}

.split-menu-button .menu-item {
    -fx-background-color: #1a1a1a;
    -fx-text-fill: white;
}

.button {
	-fx-background-color: #1a1a1a;
	-fx-text-fill: white;
	-fx-border-width: 1 0 1 0;
	-fx-boder-style: solid;
	-fx-border-color: white;
	
}

.rating .container .button{
	-fx-background-color: #333333;
	-fx-border-width: 0 0 0 0;
}

.divider {
	-fx-border-width: 1 0 0 0;
	-fx-border-color: white;
	-fx-border-style: solid;
	-fx-background-color: #333333;
}

.list-view {
	-fx-border-width: 0 0 1 0;
	-fx-border-color: white;
	-fx-border-style: solid;
	-fx-background-color: #333333;
	-fx-text-fill: white;
}

.list-view:even {
	-fx-background-color: #1a1a1a;
	-fx-text-fill: white;	
}

.list-cell:filled:selected {
	-fx-background-color: #336600;
	-fx-text-fill: white;
}

.list-cell:filled:hover {
	-fx-background-color: #284d00;
}



